@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="page">

    <NavMenu />

    <main>
        <article class="content">

            @Body

            <section class="slider-container">
                <div class="slides">
                    <div class="slide active">
                        <img src="sliderbg.png" alt="" class='slider-bg'>
                            
                            @* <div class="first-header-wrap">
                                <h1 class="first-header">
                                    Kases sistemas un maksajumu terminali
                                </h1>   
                            </div> *@
                    </div>

                    <div class="slide">
                        <img src="sliderbgtwo.png" alt="" class='slider-bg'>
                    </div>

                    <div class="slide">
                        <img src="sliderbgthree.png" alt="" class='slider-bg'>
                    </div>
                </div>

                <div class="dots-con">
                    <label for="radio1" class="dot active"></label>
                    <label for="radio2" class="dot"></label>
                    <label for="radio3" class="dot"></label>
                </div>
            </section>

            <section class='info-wrap'>
                <div class="info-header">
                    <h1 class="info-header-title">Papildu risinājumi klientiem</h1>
                    <h2 class="info-header-subtitle">Kādas vēl sistēmas mēs uzstādām un pārdodam?</h2>
                </div>

                <div class="info-main">
                    <div class="info-card-wrap">
                        <div class="info-card-subwrap">
                            <div class="info-card">
                                <i class="bi bi-wrench-adjustable-circle info-card-icon"></i>
                            </div>
                            <h3 class="info-card-title">Terminal</h3>
                            <p class="info-card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo blanditiis fugit hic odio, error cupiditate ad nulla ullam est, eum ab tempora vitae quasi commodi animi? Eligendi facere dolorem quod!</p>
                        </div>

                        <div class="info-card-subwrap">
                            <div class="info-card">
                                1
                            </div>
                            <h3 class="info-card-title">Terminal</h3>
                            <p class="info-card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo blanditiis fugit hic odio, error cupiditate ad nulla ullam est, eum ab tempora vitae quasi commodi animi? Eligendi facere dolorem quod!</p>
                        </div>

                        <div class="info-card-subwrap">
                            <div class="info-card">
                                1
                            </div>
                            <h3 class="info-card-title">Terminal</h3>
                            <p class="info-card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo blanditiis fugit hic odio, error cupiditate ad nulla ullam est, eum ab tempora vitae quasi commodi animi? Eligendi facere dolorem quod!</p>
                        </div>

                        <div class="info-card-subwrap">
                            <div class="info-card">
                                1
                            </div>
                            <h3 class="info-card-title">Terminal</h3>
                            <p class="info-card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo blanditiis fugit hic odio, error cupiditate ad nulla ullam est, eum ab tempora vitae quasi commodi animi? Eligendi facere dolorem quod!</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="products-wrap">
                <div class="products-header">
                    <h1 class="products-header-title">Aktuālās ierīces</h1>
                    <h2 class="products-header-subtitle">Pieejamas ierīces tūlītējai iegādei</h2>
                </div>

                <div class="product-card-wrap">
                    <div class="product-card-subwrap">
                        <div class="product-card">
                            <img src="cashsystem.png" alt="1" class='product-item'>
                            <div class="product-card-detail">Skatīt vairāk ▸</div>
                        </div>
                        <h3 class="product-card-title">Kases aparātu sistēmas</h3>
                    </div>

                    <div class="product-card-subwrap">
                        <div class="product-card">
                            <img src="ierice1.png" alt="1" class='product-item' width="200">
                            <div class="product-card-detail">Skatīt vairāk ▸</div>
                        </div>
                        <h3 class="product-card-title">Cash system</h3>
                    </div>

                    <div class="product-card-subwrap">
                        <div class="product-card">
                            <img src="ierice2.png" alt="1" class='product-item' width="200">
                            <div class="product-card-detail">Skatīt vairāk ▸</div>
                        </div>
                        <h3 class="product-card-title">Cash system</h3>
                    </div>

                    <div class="product-card-subwrap">
                        <div class="product-card">
                            <img src="ierice3.png" alt="1" class='product-item' width="250">
                            <div class="product-card-detail">Skatīt vairāk ▸</div>
                        </div>
                        <h3 class="product-card-title">Cash system</h3>
                    </div>

                    <div class="product-card-subwrap">
                        <div class="product-card">
                            <img src="ierice4.png" alt="1" class='product-item'>
                            <div class="product-card-detail">Skatīt vairāk ▸</div>
                        </div>
                        <h3 class="product-card-title">Cash system</h3>
                    </div>

                    <div class="product-card-subwrap">
                        <div class="product-card">
                            <img src="ierice5.png" alt="1" class='product-item' width="180">
                            <div class="product-card-detail">Skatīt vairāk ▸</div>
                        </div>
                        <h3 class="product-card-title">Cash system</h3>
                    </div>

                    <div class="product-card-subwrap">
                        <div class="product-card">
                            <img src="ierice6.png" alt="1" class='product-item' width='180'>
                            <div class="product-card-detail">Skatīt vairāk ▸</div>
                        </div>
                        <h3 class="product-card-title">Cash system</h3>
                    </div>

                    <div class="product-card-subwrap">
                        <div class="product-card">
                            <img src="ierice7.png" alt="1" class='product-item' width="220">
                            <div class="product-card-detail">Skatīt vairāk ▸</div>
                        </div>
                        <h3 class="product-card-title">Cash system</h3>
                    </div>
                </div>
            </section>

        </article>

        <div class="burger-contacts-modalw">
            <div class="burger-modalw-content">
                
            </div>
        </div>

        <div class="contacts-modalw modalw">
            <div class="close">&times;</div>
            <div class="contacts-modal-content modal-content">
                <img src="logo.png" alt="" class="contacts-modal-image" width="150">

                <div class="contacts-modal-wrap">
                    <h1 class="contacts-modal-title">
                        Kontakti
                    </h1>

                    <p class="contacts-info">Mob. tālr. <span class="phone">+371 29 509 312, +371 29 204 911</span> </p>
                    <p class="contacts-info ">E-pasts: <span class="email">alpos@alpos.lv</span> </p>
                </div>

                <div class="adress-modal-wrap">
                    <h1 class="adress-modal-title">
                        Mūsu adrese
                    </h1>

                    <p class="adress-info"> <span class="company">sia "alpos"</span> </p>
                    <p class="adress-info"> <span class="reg-num">Nr. 40103341175</span></p>
                    <p class="adress-info"> <span class="reg-num">PVN Nr. 40103341175</span></p>
                    <p class="adress-info">Birojs: <span class="adress">Ropažu iela 140-320, Rīga, LV-1006</span> </p>
                    <p class="adress-info">Jur.adr: <span class="jur-adr">Biķernieku iela 226–19, Rīga, LV-1079</span> </p>
                </div>

                <div class="bank-modal-wrap">
                    <h1 class="bank-modal-title">
                        Bankas rekvizīti
                    </h1>

                    <p class="bank-info">Swedbanks: <span class="swedbank">SWEDBANK, HABALV22</span></p>
                    <p class="bank-info">Konts: <span class="konts">LV49HABA0551029605087</span></p>
                </div>

                <div class="map-modal-wrap">
                    <h1 class="map-modal-title">
                        Karte
                    </h1>

                    <iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2174.850428464281!2d24.140865316063804!3d56.975665615145664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eef02faabf2b01%3A0x75e0e86a451969aa!2sRopa%C5%BEu%20iela%20140%2C%20R%C4%ABga%2C%20LV-1006!5e0!3m2!1sru!2slv!4v1700000000000!5m2!1sru!2slv"
  width="400"
  height="300"
  style="border:0;"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade">
</iframe>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <section class="footer-wrap">
            <img src="logo.png" alt="">

            <p class="copyright">Copyright © 2025 Alpos. All Rights Reserved.</p>

            <div class="footer-nav">
                <div class="footer-info-con"> <i class="bi bi-envelope-at-fill"></i> <span class="footer-info">alpos@alpos.lv</span> </div>
                <div class="footer-info-con"> <i class="bi bi-telephone-plus-fill"></i> <span class="footer-info">+37129509312</span> </div>
                <div class="footer-info-con"> <i class="bi bi-telephone-plus-fill"></i> <span class="footer-info">+37129204911</span> </div>
                <div class="footer-info-con"> <i class="bi bi-geo-alt-fill"></i> <span class="footer-info">Ropažu iela 140-320,LV-1006, Rīga, Latvija</span> </div>
            </div>
        </section>
    </footer>

    <div class="overlay"></div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initNavLinks");
        }
    }
}