@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="page">

    <NavMenu />

    <main>
        <article class="content px-4">
            @Body

            <button class='btn'>
                Shown
            </button>
        </article>
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initNavLinks");
        }
    }
}