<header class="header">
    <nav class="nav">
        <div class="nav-logos">
            <img src="logo.png" alt="Alpos.lv" class="nav-logo" width="100">

            <div class="dropdown">
                <img src="lv_lv.gif" alt="LV" class="lang-logo d-clickable" width="18">
                <span class="dropdown-icon d-clickable">&#9650;</span>

                <div class="d-menu">
                    <ul class="d-menu-list">
                        <li class="d-menu-link">
                            <img src="ru_ru.gif" alt="LV" class="lang-logo" width="18">
                        </li>

                        <li class="d-menu-link">
                            <img src="en_gb.gif" alt="LV" class="lang-logo" width="18">
                        </li>
                    </ul>
                </div>

            </div>

        </div>


        <ul class="nav-list">
            <a class="ww-link"> Sākums </a>

            <li class="nav-list-item">
                <a class="ww-link dropdown-link"> Produkti </a>

                <ul class="nav-dropdown p-dropdown">
                    <li>
                        <a>1</a>
                    </li>

                    <li>
                        <a>2</a>
                    </li>

                    <li>
                        <a>3</a>
                    </li>

                    <li>
                        <a>4</a>
                    </li>

                    <li>
                        <a>5</a>
                    </li>

                    <li>
                        <a>6</a>
                    </li>

                    <li>
                        <a>7</a>
                    </li>

                    <li>
                        <a>8</a>
                    </li>

                    <li>
                        <a>9</a>
                    </li>

                    <li>
                        <a>10</a>
                    </li>
                </ul>
            </li>

            <li class="nav-list-item">
                <a class="ww-link dropdown-link"> Pakalpojumi </a>

                <ul class="nav-dropdown">
                    <li>
                        <a>1</a>
                    </li>

                    <li>
                        <a>2</a>
                    </li>

                    <li>
                        <a>3</a>
                    </li>
                </ul>
            </li>

            <li class="nav-list-item">
                <a class="ww-link dropdown-link"> Risinājumi </a>

                <ul class="nav-dropdown">
                    <li>
                        <a>1</a>
                    </li>

                    <li>
                        <a>2</a>
                    </li>

                    <li>
                        <a>3</a>
                    </li>
                </ul>
            </li>

            <a class="ww-link"> Instrukcijas </a>

            <a class="ww-link" data-modal='contacts-modalw'> Kontakti </a>
        </ul>

        <div class="burger-logo">
            <div class="burger-line"></div>
            <div class="burger-line"></div>
            <div class="burger-line"></div>
        </div>

        <div class="burger-menu">
            <ul class="burger-nav-list">
                <a class="burger-ww-link"> Sākums </a>

                <li class="burger-nav-list-item">
                    <a class="burger-ww-link burger-dropdown-link" data-drop='prod-drop'> Produkti </a>

                    <ul class="burger-nav-dropdown prod-drop">
                        <li>
                            <a>1</a>
                        </li>

                        <li>
                            <a>2</a>
                        </li>

                        <li>
                            <a>3</a>
                        </li>

                        <li>
                            <a>4</a>
                        </li>

                        <li>
                            <a>5</a>
                        </li>

                        <li>
                            <a>6</a>
                        </li>

                        <li>
                            <a>7</a>
                        </li>

                        <li>
                            <a>8</a>
                        </li>

                        <li>
                            <a>9</a>
                        </li>

                        <li>
                            <a>10</a>
                        </li>
                    </ul>
                </li>

                <li class="burger-nav-list-item">
                    <a class="burger-ww-link dropdown-link" data-drop="paka-drop"> Pakalpojumi </a>

                    <ul class="burger-nav-dropdown paka-drop">
                        <li>
                            <a>1</a>
                        </li>

                        <li>
                            <a>2</a>
                        </li>

                        <li>
                            <a>3</a>
                        </li>
                    </ul>
                </li>

                <li class="burger-nav-list-item">
                    <a class="burger-ww-link burger-dropdown-link" data-drop="risi-drop"> Risinājumi </a>

                    <ul class="burger-nav-dropdown risi-drop">
                        <li>
                            <a>1</a>
                        </li>

                        <li>
                            <a>2</a>
                        </li>

                        <li>
                            <a>3</a>
                        </li>
                    </ul>
                </li>

                <a class="burger-ww-link"> Valoda </a>

                <a class="burger-ww-link"> Instrukcijas </a>

                <a class="burger-ww-link" data-modal='burger-contacts-modal'> Kontakti </a>
            </ul>
        </div>
    </nav>
</header>