<header class="header">

    <nav class="nav">
        <h1 class="header-title">Welcome</h1>

        <ul class="nav-list">
            <a class="ww-linka"> Home </a>

            <a class="ww-link"> Counter </a>

            <a class="ww-link"> Contacts </a>

            <a class="ww-link"> Feedback </a>
        </ul>
    </nav>
</header>